div {
   background-color: white;
   border: solid 1px white;
   border-radius: 10px;
}
body {
   background-color:gray;
   margin-top: 0;
   margin-left: 10%;
   margin-right: 10%; 
}
.img {
   float: left;
   height: 50px;   
   border: solid 5px white;
}
.hrefs {
   padding-left: 30%;
}
.t{
   position:relative;
}
.no{
   display: none;
   list-style-type:none;
}
.t:hover .no{
   display:list-item;
   position:absolute;
   top:100%;  
   background-color:white;
   border:solid 2px black;
   border-radius:10%;
   padding:1%;
   left:0;
}
li{
   list-style-type:none;  
}
.inline{
   display:inline;
}
a{
   display:inline;
}

.tech {
   padding-left: 35%;
}
.foot {
   float: none;
   padding-left: 40%;
}
.input{
   width:100%;
   display:flex;
   height:50px;
}
.da{
   justify-content:center;
   display:flex;
}
.f-c1{
   flex-wrap:wrap;
   width:250px;
   display:flex;
   border:none;
   justify-content:center;
}
.f-c2{
   flex-wrap:wrap;
   width:200px;
   display:flex;
   border:none;
   align-items:flex-start;
}
.f-i{
   width:20%;
   height:50px;
   display:flex;
   justify-content:center;
}
.f-i1{
   height:100px;
   width:20%;
   order:2;
}
.f-i2{
   height:50px;
   width:50%;
}
.f-i3{
   height:50px;
   width:25%;
}
.f-itop{
   width:100%;
   height:50px;
   display:flex;
}